<style>
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
  background-color: black;
  color: #4CAF50;
}

h1 {
  text-align: center;
  color: #4CAF50;
  margin-left: 20px;
}
input {
  width: 25%;
}
input[type=text] {
  width: 100%;
  padding: px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 8px;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 8px;
}
