@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  color: navy;
  margin-left: 20px;
}
