@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
  background-color: black;
  color: MediumSeaGreen;
}

.bmiscript {
  position: relative;
}

h1 {
  text-align: center;
  color: MediumSeaGreen;
  margin-left: 20px;
}
